<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" /> -->

    <link rel="stylesheet" type="text/css" href="/css/addwork-form.css">
    </head>

    <style>
        #map {
            width: 100%;
            height: 100%;
        }

        ul {
            padding: 1rem 2rem;
        }

        ul li {
            margin-top: 1rem;
            list-style: none;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
        }

        .mapContainer {
            width: 40%;
            position: relative;
            background-color: #fcf4ec;
            height: 30rem;
        }

        .closeBtn {
            position: absolute;
            right: 1rem;
            top: 4rem;
            padding: .5rem;
            border-radius: 2rem;
            color: red;
            border: none;
            outline: none;
            background-color: bisque;
        }

        #suggestionsList {
            display: none;
        }

        @media (max-width: 767px) {
            .imgdiv {
                width: 24rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
            }

            .imgdiv img {
                width: 100%;
                height: 100%;
            }
        }
    </style>



    <body>

        <%- include("./partials/header.ejs") %>
            <%- include("./partials/popup.ejs") %>



                <form action="/interiorDesign/addDesignWork" method="post" class="addWorkForm" enctype="multipart/form-data">
                            <fieldset>
                                <legend>Add Interior Designer Work Form</legend>
                    
                                <label for="yearsOfExperience" class="year-of-experience">Years of Experience:</label>
                                <input value="<%= designWork.yearsOfExperience  %>"  type="number" id="yearsOfExperience" name="yearsOfExperience"  min="0">
                                <small style="font-size: 13px;" class="text-danger mb-3 text-start"><%= error.yearsOfExperience ? error.yearsOfExperience : "" %></small>

                                <label for="description">Description:</label>
                                <textarea id="description" class="mb-0" name="description" rows="4" cols="50" >
                                    <%= designWork.description  %>
                                </textarea><br><br>
                                <small style="font-size: 13px;" class="text-danger   text-start"><%= error.description ? error.description : "" %></small>

                    
                                 
                                <div class="file-upload-container">
                                    <label class="file-upload-button" for="images">Upload Images</label>
                                    <input type="file" id="images" name="images" multiple >
                                    <small style="font-size: 13px;" class="text-danger   text-start"><%= error.files ? error.files : "" %></small>
                                </div>
                                <div id="selected-file-names" class="mx-auto" ><div>
                                    <div class="img-row flex-row">
                                        <% if(designWork.workImages.length > 0 ){%>
                   
                                            <% designWork.workImages.forEach((img , index) =>{ %>
                
                                                <div class="smallimg"  onclick="changeImage('<%= img %>')">
                                                    <img src="/uploads/<%= img %>" alt="Image"  id="thumbnailImage<%= index %>">
                                                </div>
                                               
                
                                            <%})%>
                                            <%}%>
                                    </div>


                            </fieldset>
                            <div class="d-flex flex-row" >
                                <a  href="/interiorDesign/delete/<%= designWork._id %>" style="margin-top: 1.8rem; margin-right: 1rem;" class="btn  btn-danger"> Delete</a>
                            <input type="submit" value="Add">
                            </div>
                        </form>

              


              
                <%- include("./partials/footer.ejs") %>

    </body>

</html>